 <div class="user-details">
  <h1> Education </h1>
  <p> {{site.username}} </p>
  <p> {{site.useremail}} </p>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>asdasd</p>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <img style ="width: 75px; height: 75px;" src="/assets/img/JSP,Servlet.png">
      <img style ="width: 75px; height: 75px;" src="/assets/img/AJAX.png">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original"></i>
      <img style ="width: 75px; height: 75px;" src="/assets/img/AWS.png">
      <i class="devicon-tomcat-line"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
