<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Board" src="{{ "/assets/img/BoardLogin.png" | prepend: site.baseurl }}" />
    <img alt="Board" src="{{ "/assets/img/BoardList.png" | prepend: site.baseurl }}" />
    <img alt="Board" src="{{ "/assets/img/BoardPost.png" | prepend: site.baseurl }}" />
    <img alt="Board" src="{{ "/assets/img/BoardCRUD.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Projcet</h3>
    <ul>
      <li>Board</li>
    </ul>
    <p>
      Eclipse-Web Developer, Tomcat, My SQL 활용
      DBCP를 활용하여 My sql 연결 후 MVC2 패턴 응용하여
      로그인, 회원가입, 메인, 리스트 페이지 구현
    </p>
    <a class="project-link" href="https://github.com/parkjunh/Board.git">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Board" src="{{ "/assets/img/QRScanner.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project </h3>
    <ul>
      <li>QR Scanner</li>
    </ul>
    <p>
      Eclipse-Web Developer, My sql, AWS 활용
      QRScanner를 만들어서 웹페이지에 띄운 후 My SQL을 통해
      개인 QR정보를 DB에 저장하여 관리 
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
