<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Board" src="{{ "/assets/img/BoardLogin.png" | prepend: site.baseurl }} " />
    <img alt="Board" src="{{ "/assets/img/BoardList.png" | prepend: site.baseurl }}" />
    <img alt="Board" src="{{ "/assets/img/BoardPost.png" | prepend: site.baseurl }}" />
    <img alt="Board" src="{{ "/assets/img/BoardCRUD.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Projcet</h3>
    <ul>
      <li>Board</li>
    </ul>
    <p>
      Eclipse-Web Developer, Tomcat, My SQL 활용
      DBCP를 활용하여 My sql 연결 후 MVC2 패턴 응용하여
      로그인, 회원가입, 메인, 리스트 페이지 구현
    </p>
    <a class="project-link" href="https://github.com/parkjunh/Board.git">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="TODOLIST" src="{{ "/assets/img/main.png" | prepend: site.baseurl }} " />
  </div>
  <div class="contents">
    <h3>Projcet</h3>
    <ul>
      <li>Delivery_market</li>
    </ul>
    <p style="width:455.8px">
      Spring, BOOTSTRAP5, MYSQL 활용
      Spring 프레임워크를 사용하여 MVC패턴으로 페이지 기능구현
      MYSQL로 유저관리와 관리자권한 구현, 상품과 카테고리 데이터 관리
    </p>
    <a class="project-link" href="https://github.com/parkjunh/Delivery_market">Check it out</a>
  </div>
</div>

